*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 20px;
}
:root{
    --bg:#e0ebe8;
    --colorMenu:#61b6af;
    --colorH1:#45b29a;
    --colorTitle:#45b29a;
}
.bg{
    background-color: var(--bg);
}