
.menu-container{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;  
    width: 100%;
    
}

.logo-menu img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.nav-menu a:first-child{
    color: #21564b;
}
.nav-menu a {
   text-decoration: none;
   color: var(--colorMenu);
   margin: 0 1.25rem;
   transition: 0.4s;

   font-size: 0.75rem;
   font-family: 'Courier New', Courier, monospace;
}
.nav-menu a:hover {
    color: #21564b;
 }
 .title-container{
    text-align: center;
    padding: 4rem 0;
    position: relative;
    margin-top: 6rem;
 }
 .title-container .cloud-left{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 15rem;
 }
 .title-container .cloud-right{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15rem;
   }
 .title-container .title-main{
    font-size: 4rem;
    font-family: cursive;
    color: var(--colorTitle);;
 }
 .title-container p{
    color: var(--colorH1);;
 }
 .earth-holder {
    display: flex;
    justify-content: center;
 }
 .introduce{
    text-align: center;
    margin: 5rem 0;
 }
 .introduce img{
    width: 7.25rem;
    height: 7.25rem;
    border-radius: 50%;
 }
 .introduce h1{
    color: var(--colorH1);;
    margin: 1.25rem 0;
 }
 .introduce p{
    max-width: 15rem;
    margin: auto;
   font-size: 1rem;
 }
 .skill{
    text-align: center;
    margin: 5rem 0;

 }
 .skill .skill-title{
    color: var(--colorTitle);;
    font-size: 3.5rem;
    font-weight: 400;
 }
 .skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .skill-container .skill-logo img{
    width: 7.25rem;
    height: 7.25rem;
    border-radius: 50%;
 }
 .skill-container .skill-icon i{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #f3f2f1;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
 }
 .skill-content{
    max-width: 350px;
 }
 .skill-content h1{
    color: var(--colorH1);;
    margin: 1.5rem 0;
 }
 .skill-content p{
    max-width: 15rem;
    margin: auto;
   font-size: 1rem;
 }
 .help{
    text-align: center;
    margin: 5rem 0;
 }
 .help .help-title{
    color: var(--colorTitle);;
    font-size: 3.5rem;
    font-weight: 400;
 }
 .help h1{
    color: var(--colorH1);;
    margin: 1.5rem 0;
 }
 .help p{
    max-width: 30rem;
    margin: auto;
    font-size: 1rem;
 }
 .help button{
    margin: 1.5rem 0;
    width: 10rem;
    height: 2.5rem;
    border: none;
    background: var(--colorH1);;
    cursor: pointer;
    transition: 0.4s;
 }
 .help button:hover{
    background: #3a9682;
 }
 .help a{
    text-decoration: none;
    color: black;
 }
 .help i{
   margin: 0 0.5rem;
    color: #69c0ad;
 }


 .menu-footer{
    display: flex;
    justify-content: center;
    gap:30px
 }
 .menu-footer a {
    padding: 50px 0;
    text-decoration: none;
    color: var(--colorMenu);
    margin: 0 25px;
    transition: 0.4s;
 
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
 }
 footer p{
    padding: 10px 0;
    text-align: center;
    color: var(--colorH1);;

 }
 footer p a{
    color: var(--colorH1);;
 }