*{
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
}
.wrap{
    display: flex;
    flex-direction: column;
}
.nav{
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    height: calc(100vh - 100px);
}
.container .content-img{
    background-color: aquamarine;
    /* height: 900px;
    overflow: auto; */

    overflow: auto;
    display: flex;
    justify-content: center;
    gap: 0 20px;
    flex-wrap: wrap;
    flex: 1;
    /* width: 50%; */
}
.container .content-img .item{
    height: 200px;
    width: 47%;
    border: 1px solid;
    margin-top: 20px;

}
.container .content-map{
    background-color: blue;
    /* width: 50%; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}