*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
#wrapper{
  background: linear-gradient(130deg,  #c3a3f1, #6414e9);

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width: 9rem;
  height: 9rem;
  background-color: #ffffff;
  cursor: move;
  border-radius: 0.3rem;
}
.box > p{
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 1rem;
  font-weight: 600;
}

/* body {
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
  }
  #container {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  #draggable-elem {
    position: absolute;
    background-color: #ffffff;
    font-size: 1.6em;
    width: 7em;
    height: 7em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: grid;
    place-items: center;
    font-family: "Poppins", sans-serif;
    border-radius: 0.3em;
    cursor: move;
  } */